%div{class: "image flex flex-col gap-y-3 lg:w-1/3"}
  - if brand.image.present? && brand.image.variable?
    = image_tag(brand.image.variant(:brand), size: "470x200", class: "object-cover w-full border")
  - else
    = image_tag("https://placehold.co/470x200", size: "470x200", class: "object-cover w-full border")