= turbo_frame_tag "brand-products" do
  %div{class: "grid grid-cols-1 md:grid-cols-4 xl:grid-cols-4 gap-6", id: "brand-products"}
    = render partial: "map/brand/product", collection: products
  - if @pagy.pages > 1
    %div{class: "pagination"}= pagy_nav(@pagy).html_safe