%div{class: "flex flex-row items-center py-3 px-12 gap-x-6 justify-end bg-white shadow-md"}
  = link_to root_url, class: "text-slate-500" do
    %svg.w-5.h-5{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
      %path{:d => "M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
  %div{id: "logout"}
    = link_to admin_logout_path do
      %svg.w-5.h-5{:fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
        %path{:d => "M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
  %div{class: "avatar online placeholder", id: "avatar"}
    %div{class:"bg-neutral text-neutral-content rounded-full w-12"}
      %span{class: "text-lg"} AD