%input{class: "tab", name: "tab_locale", type: "radio", role: "tab", "aria-label":t("images")}
%div{class:"tab-content bg-base-100 border-base-300 rounded-box p-6", role: "tabpanel"}
  %div{class: "flex justify-start"}
    %div{class: "flex flex-col gap-y-3", "data-controller": "preview"}
      - if @brand.image.present? && @brand.image.variable?
        = image_tag(@brand.image.variant(:admin), size: "420x200", "data-preview-target": "preview")
      - else
        = image_tag("https://placehold.co/420x200", size: "420x200", "data-preview-target": "preview")
      %div{class: "flex flex-row py-3 gap-x-3 border-t border-b justify-center"}
        %div #{t("dimensions")}:
        %div 420x200
      = f.file_field :image, direct_upload: true, "data-preview-target": "source", "data-action": "change->preview#update"