%div{class: "flex flex-col mx-auto py-12 w-11/12 2xl:w-9/12", id: "home-messages"}
  %div{class: "grid grid-cols-1 md:grid-cols-3 gap-12"}
    %div{class: "flex flex-col gap-y-3"}
      %div{class: "flex flex-row gap-x-3"}
        %svg{:height => "70", :width => "70", :fill => "none", :stroke => "currentColor", :strokewidth => "{1.5}", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "m7.848 8.25 1.536.887M7.848 8.25a3 3 0 1 1-5.196-3 3 3 0 0 1 5.196 3Zm1.536.887a2.165 2.165 0 0 1 1.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 1 1-5.196 3 3 3 0 0 1 5.196-3Zm1.536-.887a2.165 2.165 0 0 0 1.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863 2.077-1.199m0-3.328a4.323 4.323 0 0 1 2.068-1.379l5.325-1.628a4.5 4.5 0 0 1 2.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.33 4.33 0 0 0 10.607 12m3.736 0 7.794 4.5-.802.215a4.5 4.5 0 0 1-2.48-.043l-5.326-1.629a4.324 4.324 0 0 1-2.068-1.379M14.343 12l-2.882 1.664", :strokelinecap => "round", :strokelinejoin => "round"}
        %div{class: "flex flex-col flex-grow"}
          %div{class: "text-xl"} Επαγγελματικούς Χώρους
          %div{class: "text-lg border-b pb-3 border-color-[#333333]"} Μελέτη & Σχεδιασμός
      %div{class: "text-xl"} Άναλαμβάνουμε τον εξοπλισμό ξενοδοχείων, ενοικιαζόμενων δωματίων, πισίνες – παραλίες, καφετέριες και γενικά πάσης φύσεως επαγγελματικών χώρων
    %div{class: "flex flex-col gap-y-3"}
      %div{class: "flex flex-row gap-x-3"}
        %svg{:fill => "none", :height => "70", :width => "70", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        %div{class: "flex flex-col flex-grow"}
          %div{class: "text-xl"} Ειδικές Κατασκευές
          %div{class: "text-lg border-b pb-3 border-color-[#333333]"} Επαγγελματικά & Ποιοτικά
      %div{class: "text-xl"} Αναλαμβάνουμε από την μικρότερη έως την μεγαλύτερη κατασκευή μαξιλαριών, για κάθε ανάγκη, με οποιοδήποτε ύφασμα, και αναλαμβάνουμε ειδικές κατασκευές κατόπιν παραγγελίας.
    %div{class: "flex flex-col gap-y-3"}
      %div{class: "flex flex-row gap-x-3"}
        %svg{:fill => "none", :height => "70", :viewbox => "0 0 70 70", :width => "70", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "M20.433 19.146a.946.946 0 0 1-.735-1.541 18.466 18.466 0 0 1 2.055-2.154.946.946 0 1 1 1.26 1.412 16.595 16.595 0 0 0-1.844 1.932.946.946 0 0 1-.736.351ZM44.29 53.843H25.71a.946.946 0 0 1-.946-.946v-.813c0-3.943-.851-4.825-2.713-6.75a32.176 32.176 0 0 1-3.014-3.492 19.521 19.521 0 0 1-2.952-5.843.946.946 0 0 1 1.807-.56 17.673 17.673 0 0 0 2.667 5.28 30.2 30.2 0 0 0 2.853 3.3c1.935 2.003 3.216 3.332 3.244 7.932h16.687v-.643c0-4.383 1.208-5.517 3.033-7.233a23.526 23.526 0 0 0 2.865-3.094 17.71 17.71 0 0 0 3.665-10.843 17.942 17.942 0 0 0-5.969-13.35 17.75 17.75 0 0 0-13.98-4.446 17.2 17.2 0 0 0-4.188 1.003.946.946 0 0 1-.67-1.77 19.164 19.164 0 0 1 4.65-1.114A19.635 19.635 0 0 1 48.2 15.38 19.834 19.834 0 0 1 54.8 30.137a19.593 19.593 0 0 1-4.053 11.992 25.428 25.428 0 0 1-3.07 3.325c-1.672 1.573-2.437 2.29-2.437 5.854v1.59a.945.945 0 0 1-.95.945ZM16.423 27.877a.946.946 0 0 1-.933-1.105c.175-1.032.434-2.048.776-3.037a.946.946 0 1 1 1.787.62 17.38 17.38 0 0 0-.698 2.736.946.946 0 0 1-.932.786Z", :fill => "currentColor"}
          %path{:d => "M46.554 59.84H23.447a1.52 1.52 0 0 1-1.514-1.514v-4.86a1.519 1.519 0 0 1 1.514-1.513h23.107a1.52 1.52 0 0 1 1.514 1.514v4.854a1.52 1.52 0 0 1-1.514 1.519Zm-22.733-1.892H46.18V53.84H23.82v4.108Z", :fill => "currentColor"}
          %path{:d => "M35 68.108a8.532 8.532 0 0 1-8.523-8.523v-.692a.946.946 0 0 1 .946-.946h15.154a.946.946 0 0 1 .946.946v.692A8.532 8.532 0 0 1 35 68.108Zm-6.621-8.269a6.631 6.631 0 0 0 13.252 0H28.38ZM35 53.841a.946.946 0 0 1-.947-.946v-13.52a.946.946 0 0 1 1.892 0v13.52a.946.946 0 0 1-.946.946Z", :fill => "currentColor"}
          %path{:d => "M35 40.32c-.25 0-.491-.1-.669-.276l-7.96-7.962a.947.947 0 0 1 1.337-1.34L35 38.037l7.292-7.293a.946.946 0 0 1 1.338 1.338l-7.961 7.962a.949.949 0 0 1-.669.278ZM35 5.447a.946.946 0 0 1-.947-.946V2.838a.946.946 0 0 1 1.892 0V4.5a.946.946 0 0 1-.946.946ZM14.682 13.862c-.25 0-.491-.1-.668-.277l-1.176-1.176a.947.947 0 1 1 1.337-1.341l1.176 1.176a.946.946 0 0 1-.669 1.614v.004ZM7.267 34.179H5.603a.946.946 0 0 1 0-1.892h1.664a.946.946 0 1 1 0 1.892ZM64.397 34.179h-1.664a.946.946 0 0 1 0-1.892h1.664a.946.946 0 1 1 0 1.892ZM55.317 13.862a.947.947 0 0 1-.669-1.615l1.176-1.18a.945.945 0 1 1 1.338 1.338l-1.176 1.176a.947.947 0 0 1-.669.28Z", :fill => "currentColor"}
        %div{class: "flex flex-col flex-grow"}
          %div{class: "text-xl"} Κατασκευή μαξιλαριών
          %div{class: "text-lg border-b pb-3 border-color-[#333333]"} Έτοιμα & Στα μέτρα σας
      %div{class: "text-xl"} Κατασκευές μαξιλαριών με βάση το αφρολέξ και επένδυση με μεγάλη ποικιλία υφασμάτων.Βαμβακερά, πολυεστερικά, αδιάβροχα, δερματίνες, ομπρελόπανα, μονόχρωμα, ριγέ και διάφορα υφάσματα με σχέδια.