= link_to map_url(params[:slugs].split('/')), "data-turbo-frame": "category-products", class: "w-full block text-center", "data-action": "click->filters#toggle_filter" do
  %div{class: "flex justify-center items-center border border-gray-300 rounded p-3 hover:bg-gray-100 transition duration-200"}
    %div= t("clear")