= turbo_stream.update "checkout-terms-agreement-error" do
  %div{"data-controller":"alert", "data-alert-common-outlet": "#common"}= t("checkout.errors.terms_agreement.unchecked", terms_url: "/oroi-xrisis").html_safe
