%div{class: "grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-3"}
  = render partial: "/product", collection: products, cache: true
- if @pagy.pages > 1
  %div{class: "pagination mt-6 flex justify-center"}= pagy_nav(@pagy).html_safe