%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body
    = yield :body